extends demo.layout

mixin popover(first, second)
  input(type='button', value='#{first} #{second}', id='button-#{first}-#{second}').square
  div.popover(style='padding:20px', id='popover-#{first}-#{second}')
      h1 popover
      br
      a(href='http://google.com', target='blank') www.google.com

block sub

  style.
    input[type=button]{
      min-width: 160px;
    }

    ul.popovers{
      list-style-type: none;
    }

    ul.popovers li{
      padding: 20px 0;
    }
  br
  div.clearfix
    div(style='float:left')

      ul.popovers
        li
          +popover('top', 'left')
        li
          +popover('right', 'top')
        li
          +popover('right', 'bottom')
        li
          +popover('bottom', 'left')

    div.or-spacer-vertical.left(style='float:left;margin: 0 100px')
      div.mask(style='height:300px')

    div(style='float:left;text-align:center')
      ul.popovers
        li
          +popover('top', 'center')
        li
          +popover('right', 'center')
        li
          +popover('left', 'center')
        li
          +popover('bottom', 'center')

    div.or-spacer-vertical.left(style='float:left;margin: 0 100px')
      div.mask(style='height:300px')

    div(style='float:left')
      ul.popovers
        li
          +popover('top', 'right')
        li
          +popover('left', 'top')
        li
          +popover('left', 'bottom')
        li
          +popover('bottom', 'right')

  div(style='height:20px') &nbsp;
  div
    input(type='button', value='manual', id='button-manual').square
    div.popover(style='padding:20px', id='popover-manual')
        h1 popover
        br
        a(href='http://google.com', target='blank') www.google.com

  script.
    var types = ["bottom left","top left","left top","right top",
    "left center", "right center", "left bottom", "right bottom",
    "bottom right", "top right", "top center", "bottom center"];

    $.each(types, function(i,v){
        var dashed = v.split(" ").join("-");

        $("#button-" + dashed).autopopover({
            popover: $("#popover-" + dashed),
            position: v
          });
      });

    $('#button-manual').autopopover({
        popover: $("#popover-manual"),
        position: 'bottom left',
        trigger: 'manual'
      });

    $('#button-manual').on('click', function(e){
      $(this).autopopover('toggle');
    });
