- var nav = {}; nav[tab] = 'active'

 ul.autotab
  li(class='#{nav.grid}')
    a(href='/auto.grid/demo') Grid
  li(class='#{nav.modal}')
    a(href='/auto.modal/demo') Modal
  li(class='#{nav.tabs}')
    a(href='/auto.tabs/demo') Tabs
  li(class='#{nav.dropdown}')
    a(href='/auto.dropdown/demo') Dropdown
  li(class='#{nav.popover}')
    a(href='/auto.popover/demo') Popover
  li(class='#{nav.popmenu}')
    a(href='/auto.popmenu/demo') Popmenu
  li(class='#{nav.download}')
    a(href='/download') Download
  li(class='#{nav.license}')
    a(href='/license') License
  li(class='#{nav.faq}')
    a(href='/faq') FAQ
